<div style="text-align:center">
	<img width="300" src="assets/tic_logo_nobg.png">
</div>


<div class="container">
	<div class="row my-2">
		<div class='col'>
		<md-card>
		<md-card-content>
			<form>
				<md-select (change)="langChanged()" placeholder="Language" [(ngModel)]="lang" name="lang">
					<md-option *ngFor="let langOpt of langOpts" [value]="langOpt.code">{{ langOpt.name }}</md-option>
				</md-select>
				<md-form-field>
					<input mdInput  name="date" [(ngModel)]="dateStr" [mdDatepicker]="picker" placeholder="Choose a date">
					<md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
					<md-datepicker (selectedChanged)="dateChanged($event)" #picker></md-datepicker>
				</md-form-field>
			</form>
			</md-card-content>
			</md-card>
		</div>
	</div>
	<div class="row my-2">
		<div class="col">
			<h1>{{ liturgy.content.liturgicTitle }}</h1>
		</div>
	</div>
	<div class='row'>
		<div class="col">
			<h3>Saint: {{ liturgy.content.saint }}</h3>
		</div>
	</div>

	<div class='row'>
		<div class="col">
			<h3>First Reading: {{ liturgy.content.fr.lt }}</h3>
			<p>{{ liturgy.content.fr.text }}<p>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<h3>Psalm: {{ liturgy.content.ps.lt }}</h3>
			<p>{{ liturgy.content.ps.text }}<p>
		</div>
	</div>

	<div class="row" *ngIf="showSr">
		<div class="col">
			<h3>Second Reading: {{ liturgy.content.sr.lt }}</h3>
			<p>{{ liturgy.content.sr.text }}<p>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<h3>Gospel: {{ liturgy.content.gsp.lt }}</h3>
			<p>{{ liturgy.content.gsp.text }}</p>
		</div>
	</div>
	<div>

