<div style="text-align:center">
	<img width="300" src="assets/tic_logo_nobg.png">
</div>


<div class="container my-4">
	<div class="row my-2">
	  <div class='col-sm-1 col-md-2'>
		</div>
		<div class='col-xs-12 col-sm-10 col-md-8'>
			<form>
				<md-select (change)="langChanged()" placeholder="Language" [(ngModel)]="lang" name="lang">
					<md-option *ngFor="let langOpt of langOpts" [value]="langOpt.code">{{ langOpt.name }}</md-option>
				</md-select>
				<md-form-field>
					<input mdInput  name="date" [(ngModel)]="dateStr" [mdDatepicker]="picker" placeholder="Choose a date">
					<md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
					<md-datepicker (selectedChanged)="dateChanged($event)" #picker></md-datepicker>
				</md-form-field>
			</form>
			<liturgic-title [title]="liturgy.content.liturgicTitle" [saint]="liturgy.content.saint"></liturgic-title>
			<reading [readingTitle]="liturgy.content.fr.lt" [readingText]="liturgy.content.fr.text"></reading>
			<reading [readingTitle]="liturgy.content.ps.lt" [readingText]="liturgy.content.ps.text"></reading>
			<div class="row" *ngIf="showSr">
				<div class="col">
					<reading [readingTitle]="liturgy.content.sr.lt" [readingText]="liturgy.content.sr.text"></reading>
				</div>
			</div>
			<reading [readingTitle]="liturgy.content.gsp.lt" [readingText]="liturgy.content.gsp.text"></reading>
		</div>
	</div>
</div>


<footer class="mdl-mini-footer">
	<div class="mdl-mini-footer__left-section">
		<div class="mdl-logo">Evangelio</div>
		<ul class="mdl-mini-footer__link-list">
			<li><a href="http://ticnsp.org">TICNSP.org</a></li>
		</ul>
	</div>
	<div class="mdl-mini-footer__right-section">
		<ul class="mdl-mini-footer__link-list">
			<li>2017 &copy; El plagio es pecado</li>
		</ul>
	</div>
</footer>
